

.project-card {
    margin-bottom: 30px;
    width: 900px;
}

.user-avatar{
    height: 72px;
    width: 72px;
}

.project-card{
    display: flex;
}

.right-wrapper {
    margin-left: 20px;
}

.name-comment {
    font-weight: bold;
    margin-bottom: 0px;
}

.content-comment {
    word-break: break-all;
    margin-bottom: 5px;
    max-width: 900px;
}


.details hr {
    margin-top: 3px;
    margin-bottom: 5px;
    width: 900px;    
}

.icon-comment-main {
    display: flex;
}

.icon-comment {
    margin-left: 7px;
}



.block-comments {
    display: block;
    margin-top: 50px;
}

.title-comment {
    font-size: 19px;
    font-weight: bold;
    
}

.text-comment {    
    width: 600px;
    height: 150px;
    border-color: rgba(128, 130, 131, 0.514);
    background-color: #EEF5F9;
    border-radius: 10px;
}

.button-comment {
    margin-top: 65px;
    margin-left: -600px;
}