@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html {
    margin-right: 0px;
}

.body {
    min-height: 100vh;
}



.head-main {
    background-color: #2455C3;
    height: 75px;

}

.head-main-menu {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

}

.head-logo {
    float: left;
    margin-left: 10px;

}

.head-nav {
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    color: aliceblue;

}

.head-nav a {
    color: inherit;
    text-decoration: none;
}

.head-nav a {
    margin-left: 13px;
    text-decoration: none;
}



.head-search {

    position: absolute;
    margin-left: 70%;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-icon {
    margin-left: -20px;
    color: rgb(105, 157, 202);
}



.login-box {
    position: absolute;
    margin-left: 92%;

}

.login-icon {
    color: aliceblue;
}



.head-login-hidden {
    width: 250px;
    position: absolute;
    margin-top: 30px;
    padding: 10px;
    transform: translate(-80%, 0);
    background-color: rgb(248, 250, 255);
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    color: #2455C3;
    
}

.head-login-hidden span {
    margin-left: 15px;
}

.head-login-hidden a:hover {
    text-decoration: none;
}

.login-hidden-elemts {
    position: relative;
    display: block;
    text-align: center;
    color: rgb(118, 118, 119);
    margin-bottom: 0px;

}

.msg-error {
    color: red;
    font-size: 12px;
    margin-bottom: 15px;
    text-align: center;
    display: none;
}



.lembrar-senha {
    font-size: smaller;
    margin-top: 7px;

}

.cadastro {
    margin-top: 10px;
    color: rgb(209, 38, 104);
}





.head-login-hidden {
    display: none;
}

.head-login-show {
    display: inline;
}

.mouse-pointer {
    cursor: pointer;
}

.list-articles-resumo {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.list-articles-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}